@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");

.body_CSS {
  background-color: #191919;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.searchDiv_CSS {
  display: flex;
  justify-content: space-between;
  background-color: #1b9cfc;
  /* border: 0.5px solid #1b9cfc; */
  width: 90%;  
  margin: 20px 5% 20px 5%;  
  border-radius: 5px;  
}
.searchDivSelect_CSS{
  width: 50%;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.searchDivInput_CSS{
  width: 50%;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.episodeListSelect_CSS{  
  width: 300px;
  height: 35px;
  margin: 20px;
  border-radius: 3px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  text-indent: 5px;
  border: none;
}
.opthin_CSS{
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}
.episodeInput_CSS {
  margin: 20px;
  width: 300px;
  height: 30px;
  text-indent: 5px;
  border-radius: 3px;
  border: none;  
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  font-size: 13px;
}

.searchResualt_CSS{  
  /* width: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;     
  height: 40px;
  font-family: "Bebas Neue", cursive;
  font-size: 15;
  border-radius: 3px;
  color: white;  
  border: none;
  letter-spacing: 3px;  
}
.highlight_CSS{
  background-color: #1b9cfc;
  border-radius: 3px;  
}

.mainDiv_CSS {
  width: 90%;
  margin: 20px 5% 20px 5%;
  /* box-shadow: 0px 0px 5px  #3B3B98; */
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  border-radius: 5px;  
}
@media only screen and (max-width: 600px) {
  .mainDiv_CSS {
    grid-template-columns: auto;    
  }
  .episodeInput_CSS{
    width: 60%;  
    margin: 15px 0px 25px 0px;  
  }
  .searchResualt_CSS{  
    width: 30%;
    margin: 15px 0px 25px 0px;
  }
  .episodeListSelect_CSS{
    width: 90%;        
    margin: 30px auto 15px auto;
  }
  .searchDiv_CSS{
    height: 144px;
    display: block;       
  }
  .searchDivInput_CSS{
    height: 50%;
    width: 100%;
    justify-content: center;
  }
  .searchDivSelect_CSS{  
    height: 50%;  
    width: 100%;
    justify-content: center;   
  }
}
@media only screen and (min-width: 900px) {
  .mainDiv_CSS {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 1200px) {
  .mainDiv_CSS {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (min-width: 1450px) {
  .mainDiv_CSS {
    grid-template-columns: auto auto auto auto;
  }
}

.episodeDiv_CSS {
  width: 320px;
  height: 460px;
  background-color: #202329;
  color: white;
  border-radius: 5px;
  border: 1px solid #202329;
}
.episodeDiv_CSS:hover {
  border: 1px solid #1b9cfc;
  cursor: pointer;
}
/* .episodeDiv_CSS:hover > .episodeTitle_CSS {
  background-color: #1b9cfc;
} */

.episodeTitle_CSS {
  font-family: "Bebas Neue", cursive;
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  letter-spacing: 1px;
  width: 320px;
  height: 35px;
  margin: 0px;
  color: white;
  background-color: #202329;
}
.episodeImg_CSS {
  width: 300px;
  margin: 0px 10px 10px 10px;
  border-radius: 5px;
}
.episodeSummaryLabel_CSS{
  font-family: "Hind", sans-serif;
  font-size: 13px;
  margin: 0px 10px;
}
.episodeSummary_CSS {
  width: 300px;
  margin: 0px 10px 10px 10px;
  font-stretch: expanded;
  font-family: "Hind", sans-serif;
  font-size: 13px;
}
