@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@keyframes FadeIn{
  from{
      opacity: 0;
  }
  to{
      opacity: 1
  }
}
.body_CSS {
  background-color: #1a1d21;
  width: 100%;
  margin: 0px;
  height: 100%;
  animation: FadeIn 1s;
  overflow: none;
}
::-webkit-scrollbar{
  width: 5px;  
}
::-webkit-scrollbar-thumb{
  background-color: #7f8fa6;
  border-radius: 5px;
}

.searchDiv_CSS{  
  display: flex;
  margin: 15px auto 0px auto;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;  
  /* background-color: #5352ed; */
  background: repeating-linear-gradient(
                45deg,
                #2f3640,
              #2f3640 10px,
              #2f3640 0px,
              #2f3640 11px              
                );              
}
.showsDivSelect_CSS{
  /* background-color: brown; */
  display: flex;
  margin: 0;
  height: 72px;
}
.episodeDivSelect_CSS{
  display: flex;
  /* background-color: cadetblue; */
  margin: 0;
  height: 72px;
}
.searchDivInput_CSS{
  height: 72px;
  display: flex;
  /* background-color: coral; */
  margin: 0;
}

.showsListSelect_CSS{
  min-width: 150px;
  height: 35px;
  margin: auto;
  border-radius: 3px;
  font-family: "Bebas Neue", cursive;
  font-size: 15px;
  background-color: #1a1d2159;
  color: white;
  letter-spacing: 2px;
  text-indent: 5px;
  border: none;
}
.showsListSelect_CSS *{
  letter-spacing: 5px;
  color: #1a1d21;
  background-color: #ffffff;
}
.episodeListSelect_CSS{  
  min-width: 150px;
  height: 35px;
  margin: auto;
  border-radius: 3px;
  background-color: #1a1d2159;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 15px;
  letter-spacing: 2px;
  text-indent: 5px;
  border: none;
}
.episodeListSelect_CSS *{  
  letter-spacing: 5px;
  text-indent: 5px;
  color: #1a1d21;
  background-color: #ffffff;
}

.episodeInput_CSS {
  min-width: 150px;
  margin: auto;  
  height: 35px;
  text-indent: 5px;
  border-radius: 3px;
  border: none;  
  background-color: #1a1d2159;
  color: white;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-size: 15px;
}
.episodeInput_CSS::-webkit-input-placeholder{
  color: white;
}

.searchResualt_CSS{    
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;     
  height: 40px;
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
  border-radius: 3px;
  color: white;  
  border: none;
  letter-spacing: 3px;  
}
.highlight_CSS{
  background-color: #2e71ff;
  border-radius: 3px;  
}

.mainDiv_CSS {
  margin: auto;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;  
  transition: transform .1s;
}
.episodeDiv_CSS {  
  width: 320px;
  height: 460px;
  margin: 5px 5px 5px 5px;
  background-color: #1f2227;
  color: white;
  border-radius: 0px 5px 5px 5px;
  border: 1px solid #1f2227;
  animation: FadeIn 1s;
  transition: 200ms;
}
.episodeDiv_CSS:hover {  
  cursor: pointer;
  transform: scale(1.01); 
  transition: 200ms;
  box-shadow: 0px 0px 0px 2px #7f8fa6;
}

.episodeTitle_CSS {
  font-family: "Bebas Neue", cursive;
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
  border-left: 5px solid #ffa502;  
  /* border-left: 5px solid #2ed573;   */
  border-top-right-radius: 3px;
  letter-spacing: 1px;
  min-width: 315px;
  height: 35px;
  margin: 0px;
  color: white;
  background-color: #202329;
}
.episodeImgDiv_CSS{
  width: 300px;
  height: 168px;
  margin: 10px auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272a30;
  color: #EE5A24;
  border-radius: 5px;
}
.episodeImg_CSS {
  min-width: 300px;
  height: 168px;
  border-radius: 5px;
}
.episodeImgP_CSS{
  align-items: center;
  font-family: 'Concert One', cursive;
}
.episodeSummaryDiv_CSS{
  font-family: 'Marmelad', sans-serif;
  height: 180px;  
  overflow: auto;
}
.episodeSummaryLabel_CSS{
  font-family: 'Scada', sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 0px 10px;
}
.episodeSummary_CSS {
  width: 300px;
  margin: 0px 10px 10px 10px;
  margin-top: 8px;
  font-stretch: expanded;
  font-family: 'Scada', sans-serif;
  font-size: 14px;
  align-items: justify;
  line-height: 1.5em;
  overflow: auto;
}

