@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");

body {
  background-color: #f1f2f6;
  margin: 0px;
  width: 100%;
  height: 100%;
}

#searchDiv {
  display: flex;
  justify-content: space-between;
  background-color: #353b48;
  width: 90%;  
  margin: 20px 5% 20px 5%;
  box-shadow: 0px 0px 5px  #3B3B98;
  border-radius: 5px;  
}
.searchDivFirstChild-CSS{
  width: 50%;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.searchDivSecondChild-CSS{
  width: 50%;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.EpisodeNameList-CSS{  
  width: 300px;
  height: 35px;
  border-radius: 3px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  border: none;
}
.options-CSS{
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}
#searchInput {
  margin: 20px;
  width: 300px;
  height: 30px;
  text-indent: 5px;
  border-radius: 3px;
  border: none;  
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  font-size: 13px;
}

#searchResualt{  
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;     
  height: 40px;
  font-family: "Bebas Neue", cursive;
  font-size: 15;
  border-radius: 3px;
  color: white;  
  border: none;
  letter-spacing: 3px;  
}
.highlight{
  background-color: #12CBC4;
  border-radius: 3px;  
}

#root {
  width: 90%;
  margin: 20px 5% 20px 5%;
  box-shadow: 0px 0px 5px  #3B3B98;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  border-radius: 5px;  
}
@media only screen and (max-width: 600px) {
  #root {
    grid-template-columns: auto;    
  }
  #searchInput{
    width: 250px;    
  }
  .EpisodeNameList-CSS{
    width: 90%;    
    margin: 18.5px auto 18.5px auto;
  }
  #searchDiv{
    height: 144px;
    display: block;       
  }
  .searchDivFirstChild-CSS{
    height: 50%;
    width: 100%;
    justify-content: center;
  }
  .searchDivSecondChild-CSS{  
    height: 50%;  
    width: 100%;
    justify-content: center;   
  }
}
@media only screen and (min-width: 900px) {
  #root {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 1200px) {
  #root {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (min-width: 1450px) {
  #root {
    grid-template-columns: auto auto auto auto;
  }
}

.episodeDiv {
  width: 320px;
  height: 460px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #353b48;
}
.episodeDiv:hover {
  border: 1px solid #1b9cfc;
  cursor: pointer;
}
.episodeDiv:hover > .episodeTitle {
  background-color: #1b9cfc;
}

.episodeTitle {
  font-family: "Bebas Neue", cursive;
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  letter-spacing: 1px;
  width: 320px;
  height: 35px;
  margin: 0px;
  color: white;
  background-color: #353b48;
}
.episodeImg {
  width: 300px;
  margin: 15px 10px 10px 10px;
  border-radius: 5px;
}
.summaryLabel{
  font-family: "Hind", sans-serif;
  font-size: 13px;
  margin: 0px 10px;
}
.summary {
  width: 300px;
  margin: 0px 10px 10px 10px;
  font-stretch: expanded;
  font-family: "Hind", sans-serif;
  font-size: 13px;
}
